
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */



.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}

 $purple:#9b59b6;

 body{
    background-color: #ecf0f1;
 }

#UpperPanel{
    border-bottom: 1px solid #dedfdf;
    background-color: white;

img{
    height:60px;
    vertical-align: middle; 
    margin-left:166px;  

}

h4{
 display: inline-block;
 margin-right:470px;
font-family: Helvetica;
font-weight: 200;
color:#9b59b6;
}
}


#SelectionBox{
height:570px;
background-color:#ecf0f1;
text-align: center;
border-top:1px solid #dedfdf;

h2{
margin:100px;
font-family: helvetica;
font-weight: 200;
color: #9b59b6;


}

button{
    width:240px;
    height: 60px;
    margin:40px;
    font-size: 30px;
    font-weight: bold;
    font-weight: 200;
    color: #ecf0f1;
    border-radius: 20px;
    background-color: #9b59b6;
    font-family: helvetica;
    border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
    box-shadow:2px 2px 2px 2px #999;
    outline: none;


}

}

#FormPage{
    text-align: center;


}

#formBox{
    background-color: #ecf0f1;
    border-top:1px solid #dedfdf;
h3{
    margin-top: 50px;
    color:#9b59b6;
    font-family: helvetica;
    font-weight: 200;

}

#Form{

    margin:0 auto;
    max-width:400px;
    text-align: center;
    border:2px solid #9b59b6;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ecf0f1;
    border-radius: 20px;
    box-shadow:4px 4px 4px 4px #999;



    input{
        margin: 0 auto;
        margin-top: 12px;
        margin-bottom: 12px;
        display:block;
        font-weight: 200;
        font-family: helvetica;
        padding:4px;

    }

    button{
        margin:0 auto;
        margin-top: 20px;
        display: block;
        width:140px;
        font-family: helvetica;
        font-weight:200;
        background-color: #9b59b6;
        border-radius: 20px;
        font-family: helvetica;
        color: #ecf0f1;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
        box-shadow:2px 2px 2px 2px #999;
        margin-bottom: 12px;



    }

    button:focus{
    outline: none;

    }
}
}


#Menu{
    border-bottom: 1px solid #dedfdf;
    padding-top: 10px;
    background-color: white;
    

    p,a{
        margin:0;
        display: inline-block;
        padding:10px;
        text-decoration: none;
        color: $purple;
        cursor:pointer;
        font-family: helvetica;
        font-weight: 200;

    }


    #home{
        margin-left: 166px;
    }
    

}

#InfoBox{
    min-height:510px;
    background-color: #ecf0f1;
    border-top:1px solid #dedfdf;

    #EventsBox{
        text-align: center;
        padding-top: 30px;
        max-width: 800px;
        margin: 0 auto; 

       label{
        color:#9b59b6;
        font-family: helvetica;
        font-weight: 200;
        text-align: center;
        }

        #newEvent{
        box-shadow:2px 2px 2px 2px #999;
        background-color: #9b59b6;
        height: 30px;
        width:30px;
        border-radius: 50%;
        font-family: helvetica;
        color: #ecf0f1;
        float: right;
        text-align: center;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;

        }

      

        #EventForm{

            
            #CreateEvent{
                color: white;
                font-weight: bold;
            }

            button{
            font-family: helvetica;
            font-weight:200;
            background-color: #9b59b6;
            border-radius: 20px;
            color: #ecf0f1;
            border-bottom: none;
            border-left: none;
            border-right: none;
            border-top: none;
            padding: 0 10px 0 10px;
            display: inline-block;
            margin-left: 10px;
            outline: none;


            }
        }

          #EventForm >* {
            display: block;
            margin-bottom: 20px;

                }
        
            .item{
                display: inline-block;
                text-align: left;

                label{
                    margin-right:20px; 
                }

                input{
                    margin-right: 10px;
                }

            }



            #EBox{
                min-width: 400px;
                border: 2px solid #9b59b6;
                margin-top: 20px;
                border-radius: 20px;
                background-color: white;
                box-shadow:4px 4px 4px 4px #999;
                font-size: 16px;
                display: flex;
                flex-direction:column;
                padding:15px;




                #Event{
                    flex:1;
                    display: flex;
                   
                    p{
                        flex:1;
                        margin:0;
                        display:inline-block;
                        font-family: helvetica;
                        font-weight: 200;
                        text-align: left;
                    }

                    .header{
                    font-weight: bold;
                    color:$purple;
                }

                }

            }
}
    #NotificationBox{
        text-align: center;
        padding-top: 30px;
        max-width: 600px;
        margin: 0 auto;
        
        label{
        color:#9b59b6;
        font-family: helvetica;
        font-weight: 200;
        }
            #NBox{ 
                vertical-align: top;
                margin-top: 20px;
                min-width: 400px;
                margin:0 auto;
                min-height:30px;
                border: 2px solid #9b59b6;
                border-radius: 20px;
                background-color: white;
                padding:20px;
                text-align: left;


                p{
                    display:inline-block;
                    font-family: helvetica;
                    font-weight: 200;
                }

                button{
                    margin-left: 10px;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    box-shadow:2px 2px 2px 2px #999;
                    color: white;
                    background-color:#9b59b6;
                    float:right;
                    outline: none; 
                    }

            }
}

}


#SittersBox{
    min-height:510px;
    background-color: #ecf0f1;
    border-top:1px solid #dedfdf;
    padding-top: 30px;



    #ListOfSitters{
        text-align: center;
        text-align: center;
        margin:0 auto;
        max-width: 600px;




        label{
            color:#9b59b6;
            font-family: helvetica;
            font-weight: 200;


        }

        #ListBox{
            display: flex;
            flex-direction:column;
            padding:10px;
            margin-top: 20px;
            min-height: 60px;
            border: 2px solid #9b59b6;
            border-radius: 20px;
            background-color: white;
            text-align: left;
            overflow: auto;
            vertical-align: top;
            box-shadow:5px 5px 5px 5px #999;
            
            
          

           #Sitter{
            flex:1;
            display: flex;
            p{
                flex:1;
                font-family: helvetica;
                font-weight: 200;
                text-indent: 4px;
                font-size: 16px;
                display: inline-block;
                margin: 0 auto;



            }
            .header{
                font-weight: bold;
                color:#9b59b6;

            }
        }

        }
       
    }

    #AddSitter{
    margin: 0 auto;
    text-align: center;
    overflow: auto;
    vertical-align: top;
    max-width: 300px;
    margin-top: 40px;
    padding-bottom:15px; 


    label{
            color:#9b59b6;
            font-family: helvetica;
            font-weight: 200;
        }

    input{
        margin: 0 auto;
        display: block;
        margin-top: 15px;
        font-family: helvetica;
        font-weight: 200;
        border:2px solid $purple;
        box-shadow:5px 5px 5px 5px #999;
        outline: none;
        width: 255px;


        }

        ::-webkit-input-placeholder {
            font-size:15.5px;
        }

        



    
    }


}

.search {
    padding:6px 15px 6px 30px;
}

.rounded{
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 
}

#ProfileForm{
    margin:0 auto;
    max-width:400px;
    text-align: center;
    border:2px solid #9b59b6;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ecf0f1;
    border-radius: 20px;
    box-shadow:4px 4px 4px 4px #999;

    button{
        margin:0 auto;
        margin-top: 20px;
        display: block;
        width:140px;
        font-family: helvetica;
        font-weight:200;
        background-color: #9b59b6;
        border-radius: 20px;
        font-family: helvetica;
        color: #ecf0f1;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
        box-shadow:2px 2px 2px 2px #999;
        outline: none;
    }

}
 #ProfileForm >* {
        margin:0 auto;
        display: block;
        margin-bottom: 20px;

    
}



