
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */



.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */




 p + p {
    text-indent: 0;
 }

img {
    max-width: 100%;
}

 $purple:#9b59b6;
 $grey:#ecf0f1;

 body{
    background-color: #ecf0f1;
 }

#UpperPanel{

    border-bottom: 1px solid #dedfdf;
    background-color: white;
    

    #logo-image{
        height:60px;
        vertical-align: middle; 
        margin-left: 166px;

    }

    h4{
     display: inline-block;
    font-family: Helvetica;
    font-weight: 200;
    color:#9b59b6;
    }

    .upper-buttons{
        display:inline;
        margin-left:20px;
        width:140px;
        font-weight: 200;
        color: #ecf0f1;
        border-radius: 20px;
        background-color: #9b59b6;
        font-family: helvetica;
        border: none;
        box-shadow: 2px 2px 2px 2px #999;
        outline:none;
        float:right;
        margin-top:10px;
        margin-right:10px;
    }



    @media screen and (max-width: 815px){
        #logo-image{
            height:60px;
            vertical-align: middle; 
            margin-left:0;
        }
    }

    @media screen and (max-width: 500px){
        .upper-buttons{
            width:120px;
            font-size: 12px;
            

        }
    }

     @media screen and (max-width: 460px){
        .upper-buttons{
            width:100px;
            font-size: 10px;
            

        }
    }

     @media screen and (max-width: 420px){
        .upper-buttons{
            width:80px;
            font-size: 10px;
            

        }
    }

     @media screen and (max-width: 320px){
         .upper-buttons{
            width:55px;
            font-size: 11px;
            

        }
     }


}


#SelectionBox{
height:570px;
background-color:#ecf0f1;
text-align: center;
border-top:1px solid #dedfdf;

h2{
    margin-top: 100px;
    margin-bottom: 100px;
font-family: helvetica;
font-weight: 200;
color: #9b59b6;


}

button{
    width:240px;
    height: 60px;
    margin:40px;
    font-size: 30px;
    font-weight: bold;
    font-weight: 200;
    color: #ecf0f1;
    border-radius: 20px;
    background-color: #9b59b6;
    font-family: helvetica;
    border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
    box-shadow:2px 2px 2px 2px #999;
    outline: none;


}

 @media screen and (max-width: 660px){
        h2{
            
            font-size: 30px;
            

        }

        button{
            width:180px;
    height: 40px;
    margin:20px;
    font-size: 20px;

        }
    }

@media screen and (max-width: 550px){

 h2 {
    font-size: 20px;
    margin-right: 5px;
        margin-left: 5px;

}

button {
    width: 140px;
    height: 30px;
    margin: 15px;
    font-size: 15px;
}

}

@media screen and (max-width: 550px){



button {
    width: 120px;
    height: 30px;
    margin: 10px;
    font-size: 15px;
}

}



}



#formBox{
    background-color: #ecf0f1;
    border-top:1px solid #dedfdf;
        text-align: center;

h3{
    margin-top: 50px;
    color:#9b59b6;
    font-family: helvetica;
    font-weight: 200;

}

#Form{

    margin:0 auto;
    max-width:400px;
    text-align: center;
    border:2px solid #9b59b6;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ecf0f1;
    border-radius: 20px;
    box-shadow:4px 4px 4px 4px #999;
  


    input{
        margin: 0 auto;
        margin-top: 12px;
        margin-bottom: 12px;
        display:block;
        font-weight: 200;
        font-family: helvetica;
        padding:4px;

    }

    button{
        margin:0 auto;
        margin-top: 20px;
        display: block;
        width:140px;
        font-family: helvetica;
        font-weight:200;
        background-color: #9b59b6;
        border-radius: 20px;
        font-family: helvetica;
        color: #ecf0f1;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
        box-shadow:2px 2px 2px 2px #999;
        margin-bottom: 12px;



    }

    button:focus{
    outline: none;

    }
}

 @media screen and (max-width: 420px){
    #Form{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    h3{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;

}

 }
}


#Menu{
    border-bottom: 1px solid #dedfdf;
    padding-top: 10px;
    background-color: white;
    

    p,a{
        margin:0;
        display: inline-block;
        padding:10px;
        text-decoration: none;
        color: $purple;
        cursor:pointer;
        font-family: helvetica;
        font-weight: 200;

    }

    #user{
        float:right;
    }


    #home{
        margin-left: 166px;
    }

@media screen and (max-width: 815px){
         #home{
        margin-left: 0;
    }
}

@media screen and (max-width: 480px){
         p,a{
        font-size: 16px;
    }
}

@media screen and (max-width: 460px){
         p,a{
        font-size: 14px;
    }
}

@media screen and (max-width: 440px){
         p,a{
        font-size: 12px;
    }
    #user{
        position: absolute;
        top: 0;
    }

}
    

}

#InfoBox{
    min-height:510px;
    background-color: #ecf0f1;
    border-top:1px solid #dedfdf;


    #EventsBox{
        text-align: center;
        padding-top: 30px;
        max-width: 800px;
        margin: 0 auto; 
        position:relative;
       label{
        color:#9b59b6;
        font-family: helvetica;
        font-weight: 200;
        text-align: center;
        }

        #newEvent{
        box-shadow:2px 2px 2px 2px #999;
        background-color: #9b59b6;
        height: 30px;
        width:30px;
        border-radius: 50%;
        font-family: helvetica;
        color: #ecf0f1;
        float: right;
        text-align: center;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
        position:absolute;
        right:0;

        }

        @media screen and (max-width: 420px){
            #newEvent{
                height: 20px;
                width:20px; 
                font-size: 10px;
                right:30px;
                padding: 0;
                } 
            }

      

        #EventForm{
            z-index: 1;
            position:fixed;
            border:2px solid #9b59b6;
            border-radius:20px;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            background-color:#AEA8D3;
            text-align:center;
            font-family:helvetica;
            font-weight:200;
            box-shadow:4px 4px 4px 4px #999;
            padding:20px;

            
            #CreateEvent{
                color: white;
                font-weight: bold;
            }

            button{
            font-family: helvetica;
            font-weight:200;
            background-color: #9b59b6;
            border-radius: 20px;
            color: #ecf0f1;
            border-bottom: none;
            border-left: none;
            border-right: none;
            border-top: none;
            padding: 0 10px 0 10px;
            display: inline-block;
            margin-left: 10px;
            outline: none;


            }


        }
    }

          #EventForm >* {
            display: block;
            margin-bottom: 20px;

                }


        @media screen and (max-width: 420px){
            #EventForm{
                font-size: 12px;
                width:280px;
                } 

            }

        
            .item{
                display: inline-block;
                text-align: left;

                label{
                    margin-right:20px; 
                }

                input{
                    margin-right: 10px;
                }

            }



            #EBox{
                border: 2px solid #9b59b6;
                margin-top: 20px;
                border-radius: 20px;
                background-color: white;
                box-shadow:4px 4px 4px 4px #999;
                font-size: 16px;
                display: flex;
                flex-direction:column;
                padding:15px;




                #Event{
                    flex:1;
                    display: flex;
                    border-bottom: 1px solid rgba(192,192,192,.35);
                   
                    p{
                        flex:1;
                        margin:0;
                        display:inline-block;
                        font-family: helvetica;
                        font-weight: 200;
                        text-align: left;
                    }

                    .header{
                    font-weight: bold;
                    color:$purple;
                }

                }

                 

            }

            @media screen and (max-width: 420px){
                    #EBox{
                        font-size: 10px;
                        margin-bottom: 30px;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                 }
}



    #NotificationBox{
        text-align: center;
        padding-top: 30px;
        margin: 0 auto;

        
        
        label{
        color:#9b59b6;
        font-family: helvetica;
        font-weight: 200;
        }



            #NBox{ 
                vertical-align: top;
                margin-top: 20px;
                margin:0 auto;
                min-height:30px;
                border: 2px solid #9b59b6;
                border-radius: 20px;
                background-color: white;
                padding:20px;
                text-align: left;
                position: relative;
                 box-shadow:4px 4px 4px 4px #999;



                p{
                    display:inline-block;
                    font-family: helvetica;
                    font-weight: 200;

                }

                button{
                    margin-left: 10px;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    box-shadow:2px 2px 2px 2px #999;
                    color: white;
                    background-color:#9b59b6;
                    float:right;
                    outline: none; 
                    }

                @media screen and (max-width: 420px){
                    
                     p{
                        font-size: 10px;
                       
                    }

                    button{
                        float: none;
                        padding: 0;
                        margin-bottom: 10px;

                    }
                }
            }

            
}


 @media screen and (max-width: 420px){

                    #NBox div{
                        border-bottom: 1px solid rgba(192,192,192,.35);
                    }


                    #NotificationBox{
                        margin-right: 15px;
                         margin-left: 15px;
                    }


                 }


#SittersBox{
    min-height:510px;
    background-color: #ecf0f1;
    border-top:1px solid #dedfdf;
    padding-top: 30px;

    #SitterConfirm{
        position: fixed;
        width:250px;
        border:2px solid #9b59b6;
        border-radius:20px;
        left: 50%;
        top: 30%;
        transform: translate(-50%,-50%);
        background-color:#AEA8D3;
        text-align:center;
        font-family:helvetica;
        font-weight:200;
        box-shadow:4px 4px 4px 4px #999;
        color:white;
        padding:15px;
    }


  @media screen and (max-width: 420px){
            #SitterConfirm{
               font-size: 15px;
               top:50%;
                } 
            }


    #ListOfSitters{
        text-align: center;
        text-align: center;
        margin:0 auto;
        max-width: 800px;




        label{
            color:#9b59b6;
            font-family: helvetica;
            font-weight: 200;


        }

        #ListBox{
            display: flex;
            flex-direction:column;
            padding:10px;
            margin-top: 20px;
            min-height: 60px;
            border: 2px solid #9b59b6;
            border-radius: 20px;
            background-color: white;
            text-align: left;
            overflow: auto;
            vertical-align: top;
            box-shadow:5px 5px 5px 5px #999;

            
          

           #Sitter{
            flex:1;
            display: flex;
            p,a{
                flex:1;
                font-family: helvetica;
                font-weight: 200;
                text-indent: 4px;
                font-size: 16px;
                display: inline-block;
                margin: 0 auto;
                border-bottom: 1px solid rgba(192,192,192,.35);

            }

             @media screen and (max-width: 420px){
            p,a{
               font-size: 10px;
               
                } 
            }


            .address{
               flex:2; 
            }

            .header{
                font-weight: bold;
                color:#9b59b6;

            }
        }


        }

           @media screen and (max-width: 420px){
            #ListBox{
                margin-left:10px;
                margin-right: 10px;               
                } 
            }


        
       
    }

    #AddSitter{
    margin: 0 auto;
    text-align: center;
    overflow: auto;
    vertical-align: top;
    max-width: 300px;
    margin-top: 40px;
    padding-bottom:15px; 


    label{
            color:#9b59b6;
            font-family: helvetica;
            font-weight: 200;
        }

    input{
        margin: 0 auto;
        display: block;
        margin-top: 15px;
        font-family: helvetica;
        font-weight: 200;
        border:2px solid $purple;
        box-shadow:5px 5px 5px 5px #999;
        outline: none;
        width: 255px;


        }

        ::-webkit-input-placeholder {
            font-size:15.5px;
        }

        



    
    }


}

.search {
    padding:6px 15px 6px 30px;
}

.rounded{
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 
}

#ProfileForm{
    display: flex;
    flex-direction:column;
    margin:0 auto;
    max-width:450px;
    border:2px solid #9b59b6;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow:4px 4px 4px 4px #999;

   



    button{
        margin:0 auto;
        margin-top: 20px;
        display: block;
        width:140px;
        font-family: helvetica;
        font-weight:200;
        background-color: #9b59b6;
        border-radius: 20px;
        font-family: helvetica;
        color: #ecf0f1;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: none;
        box-shadow:2px 2px 2px 2px #999;
        outline: none;
    }

}
 #ProfileForm div{
        flex:1; 
        display: flex;
        max-width: 350px;
        font-family: helvetica;
        font-weight: 200;
        margin-left: 20px;


        p{
            flex:3;
           border:2px solid $purple;
           border-radius: 10px;
           margin-left: 20px;
           padding:1px;
           padding-left: 3px;
           background-color: $grey;



        }

        label{
            flex:2;
            color: $purple;
        }    
}

  @media screen and (max-width: 420px){
            #ProfileForm{
                font-size: 10px;
                margin-left: 20px;
                margin-right: 20px;            
                } 

            #ProfileForm div p{
                margin-right: 15px;
            }

            }